.page-node-36841 article h1, .page-node-36841 #breadcrumbs, .page-node-36841 #block-p1ps2019-content{
  display: none;
}
.page-node-36841.site--type--mini-site:not(.has-image):not(.transparent) {
  padding:0;
}
.page-node-36841.site--type--mini-site:not(.has-image):not(.transparent) #navbar{
margin-top: 0;
min-height: 252px;
}
.page-node-36841 .web-component {
  word-break: normal;
}
.page-node-36841 .web-component textarea:focus {
  border:none;
}
.page-node-36841 #root input[type="text"] {
  display: inline-block;
  border-radius: 5px;
  margin: 0 3px;
  padding: 0 0.5rem;
  color: #00326e !important;
  font-weight: 700;
}